.container {
  display: flex;
  gap: 5px;
  height: 30px;
  border-bottom: 2px solid;
  justify-content: flex-start;
}

.container > div {
  border-radius: 4px;
  width: 35px;
  text-align: center;
  align-self: center;
}

.container .title {
  width: 80px;
  text-align: start;
}

.container .choice {
  cursor: pointer;
}
.container .selected {
  background-color: #2c3e50;
  color: #8c929e;
}

.container .nonselected {
  background-color: #8c929e;
  color: #2c3e50;
}
